*{
  box-sizing: border-box;
}

header{
  width:100%;
  margin: 0 auto;
  height: 3vh;
}
nav{
  padding: 20px 0 20px 0
}

.app{
  margin-top: 80px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  max-height: 100vh;
}
.cards img {
  margin: 10px;
  
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
  max-width: 23vw;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  margin-left: 10px;
  border: none;
  background: #084cdf;
  padding: 4px 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
button{
  background: #084cdf;
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: right;
  
}
button:hover{
  transition: background .2s ease-in-out;
  
  background: #0d45a5;
  
}
.login{
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}
.login button {
  width: 10rem;
  justify-content: center;
}
.profile-container{
  display: flex;
  flex-direction: column;

}
.profile{
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: center;
  
}
.wrapper{
  display: inline-block;
  height: 60vh;
}

#footer{
  height: 50px;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
}
.imageContainer img {
  border-radius: 50%;
}

.formStyle{
  width: 20rem;
  margin: 50px 30px 0 30px;
}
.form-width{
  width: 400px;
}
.loginForm{
  display: flex;
}
.auth{
  width: 50%;
  margin: 0 auto;
}

.box{
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}